<h1>Encouraging Quotes</h1>
<hr> 
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
                 
                    <div *ngFor="let quote of quotes;let i=index">
                <div class="class1">

                        <button id="details" (click)='Details(i)'>Details </button> &nbsp;

                        <button id="upvote" (click)='Upvote(i)'> Upvote  </button>   &nbsp;
 
                        <button  id="down" (click) ='Downvote(i)'>Downvote</button> 
              
                        <app-quote-details  *ngIf="quote.showQuote" [quote]='quote' (isComplete)= 'DeleteQuotes($event,i)' ></app-quote-details>
            

                </div>
                    
                 </div>  

      
     