.body{
    background-image: url('../../assets/quote.jpeg');
    font-family: monospace;
    background-repeat: no-repeat;
    background-size:cover;
    width:290%;
} 
.bor{
    font-size: 15px;
    font-style: normal;
}



