        <div class="container">
            <div class="row">
                <form  (ngSubmit)='submitQuote()'#quoteForm='ngForm'>

                
                <div class="form-group">
                    <label for="quotes">quote</label>
                    <input class="form-control" id="quote"  [(ngModel)]="newQuotes.quote" name="quote"  #quote="ngModel"  required>
                 <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            
                    
                 </div>

                </div>

                <div class="form-group">
                    <label for="author">Author</label>
                    <input class="text"class="form-control"   id="author" [(ngModel)]="newQuotes.author" name="author" #author="ngModel" required>
                 <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            
                    
                 </div>
                </div>

                <div class="form-group">
                    <label for="Publisher">Publisher</label>
                    <input class="text" class="form-control"  id="publisher"[(ngModel)]="newQuotes.publisher" name="publisher" #publisher="ngModel" required>
                 <div [hidden]="publisher.valid||publisher.pristine" class="alert alert-danger">

                 </div>
                </div> 
                <button type="submit" >Add Quote</button> 

               </form> 
                
               
              </div>
            </div>
          


